@font-face {
  font-family: 'fox-cat';
  src: url('../../../assets2/fonts/fox-cat.ttf');
  font-weight: normal;
  font-style: normal;
}
html a{
    cursor: pointer;
}
.circular-container{
	width:10%;
	margin: 0 auto;
}

.circle{
	border: 5px solid transparent;
	border-radius: 50%;
}

.circular-loader1{
	width: 100px;
    height: 100px;
    display: table;
	padding: 10px;
	border-top: 5px solid #006495;
	border-bottom: 5px solid #006495;
	animation: circular_loader1 linear 2s infinite;
}

.circular-loader2{
	width: 10px;
    height: 10px;
	display: table-cell;
	border-right: 5px solid #3498db;
	border-left: 5px solid #3498db;
	animation: circular_loader2 linear 2s infinite;
}
@keyframes circular_loader1 {
    0% {
    	transform: rotate(0deg);
    }
    100% {
    	transform: rotate(-360deg);
    }
}

@keyframes circular_loader2 {
    0% {
    	transform: rotate(0deg);
    }
    100% {
    	transform: rotate(-360deg);
    }
}

/******************* LOADER BARRAS ********************/
.loader,
.loader:before,
.loader:after {
  background: #185567;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  
}
.loader {
  color: #185567;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.ct-char {
    stroke-width: 60px
}

.anores{
    background-color: black;
    width: 30px;
    height:30px;
    position: absolute;
    top:70%;
    left: 58%;
    border-radius: 50%;
    color: white;
    display:flex;
    align-items:center;
    justify-content: space-around;
}
.myGraph {
    padding: 30px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #909;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #909;
}

.progress.progress-line-primary {
    background: rgba(156, 39, 176, 0.2);
}
.progress {
    height: 4px;
    border-radius: 0;
    box-shadow: none;
    background: #DDDDDD;
}
.progress .progress-bar, .progress .progress-bar.progress-bar-default {
    background-color: #9c27b0;
}
.progress .progress-bar {
    box-shadow: none;
}

.noUi-tooltip {
    margin-top: 10px;
}

.myLabel {
  display: inherit;
}

.myDashCard {
  min-height: 183px;
}

.myDashCardFooter {
  bottom: 0px;
  position: absolute;
  width: 80%;
}
