.circular-container{
	width:10%;
	margin: 0 auto;
}

.circle{
	border: 5px solid transparent;
	border-radius: 50%;
}

.circular-loader1{
	width: 100px;
    height: 100px;
    display: table;
	padding: 10px;
	border-top: 5px solid #006495;
	border-bottom: 5px solid #006495;
	animation: circular_loader1 linear 2s infinite;
}

.circular-loader2{
	width: 10px;
    height: 10px;
	display: table-cell;
	border-right: 5px solid #3498db;
	border-left: 5px solid #3498db;
	animation: circular_loader2 linear 2s infinite;
}
@keyframes circular_loader1 {
    0% {
    	transform: rotate(0deg);
    }
    100% {
    	transform: rotate(-360deg);
    }
}

@keyframes circular_loader2 {
    0% {
    	transform: rotate(0deg);
    }
    100% {
    	transform: rotate(-360deg);
    }
}

.ct-char {
    stroke-width: 60px
}

.anores{
    background-color: black;
    width: 30px;
    height:30px;
    position: absolute;
    top:70%;
    left: 58%;
    border-radius: 50%;
    color: white;
    display:flex;
    align-items:center;
    justify-content: space-around;
}